body {
  background-image: url("https://assets.mariannefeng.com/books/graph-paper.png");
  background-size: auto;
}

.booksLoading {
  text-align: center;
  margin-top: 2rem;
}

.bookRow {
  display: flex;
  gap: 1rem;
}

.bookRow img {
  margin-bottom: 0;
}

ul.booksList {
  margin-top: 0;
  list-style: none;
  border-radius: 0.5rem;
  padding-left: 0;
  padding-top: 1rem;
  overflow: hidden;
}

.booksListContainer {
  display: flex;
  gap: 1rem;
}

.bookInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bookAuthor {
  padding-left: 0.5rem;
  color: darkslategrey;
  text-align: right;
}

.bookTitle {
  max-width: 75%;
}

.bookHr {
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 100%;
}

.bookArrowContainer {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  width: 50px;
  flex-shrink: 0;
}

.bookArrow {
  cursor:
    url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_2024_393)%22%3E%0A%3Cpath%20d%3D%22M14.7834%2021.7735C14.7834%2021.7735%2011.7721%2020.6811%2010.3043%2019.551C8.83649%2018.421%205.97605%2016.0871%206.0436%2015.539C6.11114%2014.9909%206.10983%2014.5997%206.48674%2014.196C6.86366%2013.7923%209.3977%2015.5288%209.3977%2015.5288L4.67353%206.15163C4.67353%206.15163%204.26303%204.6789%204.89176%204.3621C5.52049%204.04529%205.67932%203.80329%206.26485%203.67034C6.85038%203.5374%209.29841%208.58048%209.29841%208.58048M11.2106%2012.376L9.29841%208.58048M9.29841%208.58048C9.29841%208.58048%2011.7762%207.01805%2011.9776%207.23072C12.179%207.44339%2012.315%207.90049%2012.315%207.90049M13.8898%2011.0262L12.315%207.90049M12.315%207.90049C12.315%207.90049%2014.0349%207.03404%2014.5146%206.79239C14.9942%206.55073%2015.8748%208.29849%2015.8748%208.29849M16.9996%2010.5312L15.8748%208.29849M15.8748%208.29849C15.8748%208.29849%2017.0821%207.24309%2018.3186%207.67529C19.5551%208.10749%2020.8643%2013.2699%2021.0387%2015.2147C21.2131%2017.1595%2020.5885%2018.8489%2020.5885%2018.8489%22%20stroke%3D%22black%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_2024_393%22%3E%0A%3Crect%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A")
      0 0,
    auto;
  max-width: 100%;
}

@media (max-width: 720px) {
  .bookArrowContainer {
    position: fixed;
    top: 50%;
    height: auto;
    width: auto;
    z-index: 10;
  }

  .bookArrowContainer:first-child {
    left: 0;
  }

  .bookArrowContainer:last-child {
    right: 0;
  }

  .bookArrow {
    width: 40px;
  }
}

.bookReviewFooter {
  margin-top: 0.5rem;
}

.bookReviewFooter span {
  font-style: italic;
}

.bookReview {
  margin-top: 1rem;
}

.bookReviewRating {
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;
}

.bookingReviewAvgRating {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

@media (max-width: 720px) {
  .bookingReviewAvgRating {
    flex-direction: row-reverse;
  }
}

.bookReviewDate {
  font-size: 1rem;
  text-align: right;
  width: 100%;
  display: block;
}

@media (min-width: 720px) {
  ul.booksList {
    padding: 2rem;
  }

  .bookReviewFooter {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
