---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<a href="/">
			<span class="default">{SITE_TITLE}</span>
			<span class="hover">marianne feng</span>
		</a>
		<div class="internal-links">
			<HeaderLink href="/">home</HeaderLink>
			<HeaderLink href="/portfolio">stuff</HeaderLink>
			<HeaderLink id="say-hi-link">say hi</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		text-decoration: none;
	}
	nav > a {
		position: relative;
		display: inline-block;
	}
	nav > a .hover {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		transition: opacity 0.1s;
		white-space: nowrap;
		pointer-events: none;
		padding: 1em 0.5em;
	}
	nav > a:hover .default {
		opacity: 0;
	}
	nav > a:hover .hover {
		opacity: 1;
	}
</style>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		const sayHiLink = document.getElementById('say-hi-link');
		if (sayHiLink) {
			sayHiLink.addEventListener('click', async (e) => {
				e.preventDefault();
				
				const endpoint = 'https://send.api.mailtrap.io/api/send'; 
				const method = 'POST';
				const data = {
					from:{"email":"hello@demomailtrap.co","name":"Mailtrap Test"},
					to:[{"email":"feng.marianne@gmail.com"}],
					subject:"You are awesome!",
					text:"Congrats for sending test email with Mailtrap!",
					category:"Integration Test"
				};
				
				try {
					const response = await fetch(endpoint, {
						method: method,
						headers: {
							'Content-Type': 'application/json',
							'Authorization': `Bearer ${import.meta.env.PUBLIC_MAILTRAP_API_KEY}`,
							
						},
						body: JSON.stringify(data),
					});
					
					if (response.ok) {
						const result = await response.json();
						console.log('Success:', result);
						// Optional: show a success message to the user
					} else {
						console.error('Error:', response.statusText);
					}
				} catch (error) {
					console.error('Request failed:', error);
				}
			});
		}
	});
</script>
