---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<a href="/">
			<span class="default">{SITE_TITLE}</span>
			<span class="hover">marianne feng</span>
		</a>
		<div class="internal-links">
			<HeaderLink href="/">home</HeaderLink>
			<HeaderLink href="/portfolio">stuff</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		text-decoration: none;
	}
	nav > a {
		position: relative;
		display: inline-block;
	}
	nav > a .hover {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		transition: opacity 0.1s;
		white-space: nowrap;
		pointer-events: none;
		padding: 1em 0.5em;
	}
	nav > a:hover .default {
		opacity: 0;
	}
	nav > a:hover .hover {
		opacity: 1;
	}
</style>
